<div style="flex-direction: column; display: flex;align-items: flex-end;">
  <mat-icon (click)="close()" style="margin-right: 50px;margin-right: 50px;margin-top: 25px;">close</mat-icon>
</div>
<form style="margin-left: 50px;margin-right: 50px;margin-top: 15px;" (ngSubmit)="onSubmit()" #frm="ngForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Title</label>
      <input type="text" class="form-control" id="exampleInputEmail1" 
      aria-describedby="emailHelp" placeholder="Title" name="title" [(ngModel)]="note.title">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Description</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" 
      placeholder="Description" name="description" [(ngModel)]="note.description"></textarea>
    </div>
    <button  class="btn btn-success">Add</button>
  </form>